cache
rpmbuild
*.deb
*.rpm
*.tar.gz
*.tar.xz
*.dsc
*.changes
*.buildinfo
binary/kubescape
binary/debian/source
binary/debian/tests
binary/debian/changelog
binary/debian/compat
binary/debian/control
binary/debian/copyright
binary/debian/install
binary/debian/debhelper-build-stamp
binary/debian/files
binary/debian/.debhelper
deb/kubescape
deb/debian/kubescape*
deb/debian/debhelper-build-stamp
deb/debian/files
deb/debian/.debhelper
*.upload
