Source: kubescape
Priority: optional
Maintainer: Hollow Man (Domain Address) <hollowman@opensuse.org>
Build-Depends: golang, cmake, pkg-config, debhelper (>= 10)
Standards-Version: 2.1.3
Homepage: https://github.com/kubescape/kubescape
Testsuite: autopkgtest

Package: kubescape
Architecture: any
Description: Kubescape is an open-source Kubernetes security platform for your IDE, CI/CD pipelines, and clusters. It includes risk analysis, security, compliance, and misconfiguration scanning, saving Kubernetes users and administrators precious time, effort, and resources.
